# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Aniket@2006
DB_NAME=techshop

# JWT Secret (generate a random string for production)
JWT_SECRET=4adff5ecf160cde5cf25a535d7fba9e1a4e742fbd759a229a8948db179bc7302

# Email Configuration (for OTP)
EMAIL_USER=aniketigade@gmail.com
EMAIL_PASS=uzyfmzytucafqnaa

# Server Port
PORT=3000